@model PTFGym.Models.Termin

@{
    ViewData["Title"] = "Kreiraj";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Kreiraj</h1>

<h4>Termin</h4>
<hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" asp-antiforgery="true" class="text-danger"></div>
            <div class="form-group" style="margin-top:20px;">
                <label asp-for="DatumVrijeme" class="control-label">Datum i Vrijeme</label>
                <input asp-for="DatumVrijeme" class="form-control" />
                <span asp-validation-for="DatumVrijeme" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <label asp-for="VrstaTreninga" class="control-label">Vrsta Treninga</label>
                <input asp-for="VrstaTreninga" class="form-control" />
                <span asp-validation-for="VrstaTreninga" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <label asp-for="MaksimalniBrojClanova" class="control-label">Maksimalni Broj Clanova</label>
                <input asp-for="MaksimalniBrojClanova" class="form-control" />
                <span asp-validation-for="MaksimalniBrojClanova" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <label asp-for="TrenerId" class="control-label"></label>
                <select asp-for="TrenerId" class ="form-control" asp-items="ViewBag.Treneri"></select>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
            </div>
        </form>
        @if (User.IsInRole("Trener"))
        {
            <div style="margin-top: 20px;">
                <a asp-action="TrenerIndex">Nazad</a>
            </div>
        }
        @if (User.IsInRole("Clan") && !User.IsInRole("Trener"))
        {
            <div style="margin-top: 20px;">
                <a asp-action="ClanIndex">Nazad</a>
            </div>
        }
        @if (User.IsInRole("Administrator"))
        {
            <div style="margin-top: 20px;">
                <a asp-action="Index">Nazad</a>
            </div>
        }
    </div>
    <div class="col-md-2"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
