@{
    ViewData["Title"] = "Pocetna";
}
<head>
<link rel="stylesheet" href="~/css/nicepage.css" media="screen">
<link rel="stylesheet" href="~/css/Page-1.css" media="screen">
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" font-display="swap">
<link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" font-display="swap">
</head>
<body>
<section class="u-align-left u-clearfix u-container-align-left u-container-align-right u-valign-middle-lg u-white u-section-1" id="sec-fe86">
    <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
                <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-25-xl u-size-31-lg u-size-31-md u-size-31-sm u-size-31-xs u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-container-layout-1">
                        <h5 class="u-align-left u-custom-font u-font-montserrat u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Teretana</h5>
                        <h1 class="u-align-left u-custom-font u-font-montserrat u-text u-text-palette-1-base u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">PTF GYM</h1>
                        <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> U srcu smo zajednice, spremni da vas podržimo na vašem fitness putovanju. Bilo da ste početnik, rekreativac ili profesionalni sportista, naš tim stručnjaka i vrhunska oprema osiguravaju vrhunsko iskustvo vježbanja.</p>
                        <a href="#" class="u-active-black u-btn u-button-style u-hover-black u-palette-1-base u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">prijavite se </a>
                    </div>
                </div>
                <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-size-29-lg u-size-29-md u-size-29-sm u-size-29-xs u-size-35-xl u-image-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                    <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-palette-1-base u-section-2" id="carousel_8822">
    <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <p class="u-align-center u-custom-font u-font-montserrat u-text u-text-1"> Oprema svjetske klase prilagođena svakom tipu treninga.</p>
                        <h4 class="u-align-center u-custom-font u-font-montserrat u-text u-text-2"> Moderni fitness prostor</h4>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <p class="u-align-center u-custom-font u-font-montserrat u-text u-text-3"> Radite sa našim certificiranim trenerima i dostignite svoje ciljeve.</p>
                        <h4 class="u-align-center u-custom-font u-font-montserrat u-text u-text-4"> Personalni treninzi </h4>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <p class="u-align-center u-custom-font u-font-montserrat u-text u-text-5"> Od joge i pilatesa do HIIT-a i spinninga.</p>
                        <h4 class="u-align-center u-custom-font u-font-montserrat u-text u-text-6"> Grupe i programi</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-section-3" id="carousel_dd7e">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-31-sm u-size-31-xs u-size-32-lg u-size-32-xl u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                                <div class="u-container-layout u-valign-middle u-container-layout-1">
                                    <h3 class="u-align-left u-custom-font u-font-montserrat u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">Naše dodatne ponude</h3>
                                    <div class="u-expanded-width u-list u-list-1">
                                        <div class="u-repeater u-repeater-1">
                                            <div class="u-container-style u-list-item u-repeater-item u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
                                                <div class="u-container-layout u-similar-container u-container-layout-2">
                                                    <h3 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Motivirajuća atmosfera</h3>
                                                    <p class="u-text u-text-grey-40 u-text-3">Postignite više uz energičnu muziku i prijatljesku podršku prilikom treninga.</p>
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500">
                                                <div class="u-container-layout u-similar-container u-container-layout-3">
                                                    <h3 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Nutricionistički savjeti</h3>
                                                    <p class="u-text u-text-grey-40 u-text-5"> Pronađite idealnu ravnotežu uz prilagođene planove ishrane kreirane od naših stručnih trenera.</p>
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500">
                                                <div class="u-container-layout u-similar-container u-container-layout-4">
                                                    <h3 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Mjerenje napretka</h3>
                                                    <p class="u-text u-text-grey-40 u-text-7"> Profesionalne analize tijela od strane naših trenera kako biste pratili svoj uspjeh.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="u-align-left u-text u-text-grey-50 u-text-8"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-28-lg u-size-28-xl u-size-29-sm u-size-29-xs u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-size-40">
                                <div class="u-layout-row">
                                    <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-60 u-image-1" data-image-width="962" data-image-height="1280" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                                        <div class="u-container-layout u-container-layout-5"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="853" data-image-height="1280" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
                                        <div class="u-container-layout u-container-layout-6"></div>
                                    </div>
                                    <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-3" data-image-width="1280" data-image-height="853" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                                        <div class="u-container-layout u-container-layout-7"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="u-clearfix u-grey-10 u-section-4" id="sec-328e" style="background:white">

    <div class="container" style="background: white">
        <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <img class="u-image u-image-1" src="~/images/34f9eb8bba4308a2ff3aaed2c3e8b872cc626ea19f10ec97bb6dc609b55ef50a2172c41c8797a831543de3fb78a7b4007d1b7d184ac3d0f43b385b_1280.jpg" loading="lazy"  data-image-width="1280" data-image-height="959" data-animation-name="customAnimationIn" data-animation-duration="1500">
        <div class="u-align-left u-container-align-left u-container-style u-group u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1250">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h3 class="u-custom-font u-font-montserrat u-text u-text-1"> Članarine prilagođene vama</h3>
                <p class="u-custom-font u-font-montserrat u-text u-text-2"> Birajte između mjesečnih, tromjesečnih i godišnjih članarina, uz mogućnost probnog treninga potpuno besplatno!</p>
                <p class="u-align-left u-text u-text-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""></p>
                <a href="" class="u-active-black u-border-none u-btn u-button-style u-hover-black u-palette-1-base u-btn-1">Uplati članarinu </a>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-grey-10 u-section-5" id="carousel_a5bf">
    <img class="u-expanded-width u-image u-image-1" src="~/images/db4a87d4b683e8baf1825df2b1e39f8d75d75361ed1810340830c698b31b5927d9009058b20e80823fb4c5aff6aff2fcee649ecca5d2619fc9811e_1280.jpg" loading="lazy" data-image-width="1280" data-image-height="853">
    <h2 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1250"> Ekskluzivne pogodnosti za članove:</h2>
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-similar-container u-container-layout-1">
                    <h3 class="u-custom-font u-font-montserrat u-text u-text-2"> Wi-Fi</h3>
                    <p class="u-file-icon u-text u-text-3"> Besplatni Wi-Fi u toku Vašeg treninga.</p>
                    <a href="#" class="u-border-2 u-border-active-grey-50 u-border-hover-grey-50 u-border-palette-1-base u-btn u-button-style u-custom-font u-font-montserrat u-none u-text-body-color u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""> Otvori</a>
                </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-similar-container u-container-layout-2">
                    <h3 class="u-custom-font u-font-montserrat u-text u-text-4">
                        Popusti<br>
                    </h3>
                    <p class="u-file-icon u-text u-text-5"> Popusti na dodatke ishrani i sportske proizvode.</p>
                    <a href="#" class="u-border-2 u-border-active-grey-50 u-border-hover-grey-50 u-border-palette-1-base u-btn u-button-style u-custom-font u-font-montserrat u-none u-text-body-color u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Otvori </a>
                </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-similar-container u-container-layout-3">
                    <h3 class="u-custom-font u-font-montserrat u-text u-text-6">
                        Seminari<br>
                    </h3>
                    <p class="u-file-icon u-text u-text-7"> Pristup posebnim radionicama i seminarima o zdravom životu.</p>
                    <a href="#" class="u-border-2 u-border-active-grey-50 u-border-hover-grey-50 u-border-palette-1-base u-btn u-button-style u-custom-font u-font-montserrat u-none u-text-body-color u-btn-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Otvori </a>
                </div>
            </div>
        </div>
    </div>
    <p class="u-text u-text-8" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></p>
</section>
<section class="u-clearfix u-container-align-center u-grey-10 u-section-6" id="carousel_35e5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-layout-grid u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <p class="u-align-center u-text u-text-grey-50 u-text-1">"​PTF Gym je moje omiljeno mjesto za trening! Profesionalni treneri i sjajna atmosfera me uvijek motivišu da dam svoj maksimum."</p>
                        <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-palette-1-base u-text-2"> Amar, redovni član</h5>
                        <span class="u-align-center u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332" style=""><use xlink:href="#svg-ec6e"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" id="svg-ec6e" style="enable-background:new 0 0 95.333 95.332;">
                                <g>
                                    <g>
                                        <path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path><path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <p class="u-align-center u-text u-text-grey-50 u-text-3">"​Nakon samo mjesec dana u PTF Gym-u, osjetila sam ogromne promjene na svom tijelu i energiji. Preporučujem svakome!"</p>
                        <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-palette-1-base u-text-4"> Lejla, zadovoljna korisnica</h5>
                        <span class="u-align-center u-icon u-icon-circle u-text-palette-1-base u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332" style=""><use xlink:href="#svg-d786"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" id="svg-d786" style="enable-background:new 0 0 95.333 95.332;">
                                <g>
                                    <g>
                                        <path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path><path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <p class="u-align-center u-text u-text-grey-50 u-text-5"> "Savršena kombinacija moderne opreme, stručnog osoblja i pozitivne energije. PTF Gym mi je promijenio život!"</p>
                        <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-palette-1-base u-text-6"> Mirza, rekreativac</h5>
                        <span class="u-align-center u-icon u-icon-circle u-text-palette-1-base u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332" style=""><use xlink:href="#svg-b60c"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" id="svg-b60c" style="enable-background:new 0 0 95.333 95.332;">
                                <g>
                                    <g>
                                        <path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path><path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <p class="u-align-center u-text u-text-grey-50 u-text-7"> "Grupe i programi u PTF Gym-u su odlični! Treninzi su dinamični, a treneri pažljivo prate svakog člana."</p>
                        <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-palette-1-base u-text-8"> Emina, članica grupnih treninga</h5>
                        <span class="u-align-center u-icon u-icon-circle u-text-palette-1-base u-icon-4">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332" style=""><use xlink:href="#svg-6cc1"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" id="svg-6cc1" style="enable-background:new 0 0 95.333 95.332;">
                                <g>
                                    <g>
                                        <path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path><path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-5" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                    <div class="u-container-layout u-similar-container u-container-layout-5">
                        <p class="u-align-center u-text u-text-grey-50 u-text-9"> "Nutricionistički savjeti koje sam dobio ovdje su mi pomogli da promijenim ishranu i ostvarim svoje fitness ciljeve."</p>
                        <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-palette-1-base u-text-10"> Haris, klijent personalno treninga</h5>
                        <span class="u-align-center u-icon u-icon-circle u-text-palette-1-base u-icon-5">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332" style=""><use xlink:href="#svg-6cc1"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" id="svg-6cc1" style="enable-background:new 0 0 95.333 95.332;">
                                <g>
                                    <g>
                                        <path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path><path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-6" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                    <div class="u-container-layout u-similar-container u-container-layout-6">
                        <p class="u-align-center u-text u-text-grey-50 u-text-11"> "Toplo preporučujem PTF Gym svakome ko traži motivaciju i profesionalnu podršku. Ovdje sam pronašla svoj drugi dom."</p>
                        <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-palette-1-base u-text-12"> Aida, dugogodišnja članica</h5>
                        <span class="u-align-center u-icon u-icon-circle u-text-palette-1-base u-icon-6">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332" style=""><use xlink:href="#svg-6cc1"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" id="svg-6cc1" style="enable-background:new 0 0 95.333 95.332;">
                                <g>
                                    <g>
                                        <path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path><path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-7" id="sec-490b">
    <div class="u-expanded-width u-grey-10 u-shape u-shape-rectangle u-shape-1"></div>
    <div class="data-layout-selected u-clearfix u-gutter-26 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-size-15 u-size-30-md">
                    <div class="u-layout-col">
                        <div class="u-container-style u-image u-layout-cell u-size-40 u-image-1" data-image-width="1280" data-image-height="850" data-animation-name="customAnimationIn" data-animation-duration="1500">
                            <div class="u-container-layout u-container-layout-1"></div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
                <div class="u-size-15 u-size-30-md">
                    <div class="u-layout-col">
                        <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                            <div class="u-container-layout u-container-layout-3"></div>
                        </div>
                        <div class="u-container-style u-image u-layout-cell u-size-40 u-image-2" data-image-width="720" data-image-height="1280" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                            <div class="u-container-layout u-container-layout-4"></div>
                        </div>
                    </div>
                </div>
                <div class="u-size-15 u-size-30-md">
                    <div class="u-layout-col">
                        <div class="u-container-style u-image u-layout-cell u-size-40 u-image-3" data-image-width="1090" data-image-height="1280" data-animation-name="customAnimationIn" data-animation-duration="1500">
                            <div class="u-container-layout u-container-layout-5"></div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-6">
                            <div class="u-container-layout u-container-layout-6"></div>
                        </div>
                    </div>
                </div>
                <div class="u-size-15 u-size-30-md">
                    <div class="u-layout-col">
                        <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-7">
                            <div class="u-container-layout u-container-layout-7"></div>
                        </div>
                        <div class="u-container-style u-image u-layout-cell u-size-40 u-image-4" data-image-width="1280" data-image-height="853" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                            <div class="u-container-layout u-container-layout-8"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-9">
                    <div class="u-container-layout u-container-layout-9">
                        <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1"> Započnite svoju transformaciju danas!</h2>
                        <p class="u-custom-font u-font-montserrat u-text u-text-2"> Ne čekajte sutra – pridružite se PTF Gym porodici već danas i učinite korak prema zdravijem i snažnijem tijelu.</p>
                        <p class="u-custom-font u-font-montserrat u-text u-text-3">Adresa: Fakultetska 1, Zenica 72000 </p>
                    </div>
                </div>
                <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-10">
                    <div class="u-container-layout u-container-layout-10">
                        <h2 class="u-custom-font u-font-montserrat u-text u-text-4">Kontaktirajte nas</h2>
                        <p class="u-custom-font u-font-montserrat u-text u-text-default u-text-5">Možete nas kontaktirati na broj:&nbsp;</p>
                        <a href="#" class="u-active-none u-btn u-button-style u-custom-font u-font-montserrat u-hover-none u-none u-text-hover-palette-3-base u-text-palette-1-base u-btn-1">
                            <span class="u-icon u-text-palette-1-base">
                                <svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg>
                            </span>&nbsp;+387 061234567
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>